<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.mapper.ITrafficMapper">

    <select id="findEchartsList" resultType="org.jeecg.modules.entity.ITraffic">
        select *
        from i_traffic
        where user_id = #{loginUser.id}
          and create_time  <![CDATA[ >=  ]]> #{vo.beginTime}
          and create_time  <![CDATA[ <=  ]]> #{vo.endTime}
          and TIMEDIFF(collect_end_time, collect_begin_time) = #{vo.monitorSpilt}

    </select>
    <select id="getITrafficListByCreateTime"
            resultType="org.jeecg.modules.entity.ITraffic">
        select *
        from i_traffic
        where user_id = #{userId}
        and create_time >= date_add(now(), INTERVAL -1 MONTH)
        and DATE_FORMAT(create_time,'%H:%i') between DATE_FORMAT(#{outBeginTime},'%H:%i') and
            DATE_FORMAT(#{outEndTime},'%H:%i')
        and monitor_id = #{monitorId}
    </select>
</mapper>